/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@100..900&display=swap');

/* Remove extra default spacing */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Color Scheme */
:root {
    --gdg-green: #8fbc8f;
    --gdg-purple: #8a2be2;
}

/* General Body Styling */
body {
    display: flex;
    flex-direction: column;
    margin: clamp(3vh, 20%, 10vh) clamp(10vw, 15%, 20vw);
    font-size: 14pt;
    font-family: "Inter", sans-serif;
}

/* Navigation Styling */
nav {
    display: flex;
    gap: 1.5em;
    font-size: 1.5em;
    align-items: center;
}

nav svg {
    fill: var(--gdg-purple);
}

nav a {
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    text-decoration: none;
}

nav a:hover {
    transform: scale(1.2);
    color: var(--gdg-green);
}

#header-img {
    height: 1.5em;
    margin-right: auto;
}

/* Sidebar Links Styling */
.sidebar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 20px;
}

/* Section Styling */
section {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    justify-content: center;
}

/* Collapsible Element Styling */
.collapsible {
    background-color: var(--gdg-green);
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    margin: 5px 0;
}

.collapsed, .collapsible:hover {
    background-color: var(--gdg-purple);
}

.collapsible-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

/* Hide elements initially */
#sidebar-active, .close-sidebar-btn, .open-sidebar-btn {
    display: none;
}

/* Responsive Sidebar for Small Screens */
@media (max-width: 740px) {
    .sidebar-links {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        height: 100%;
        background-color: #f1f1f1;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        padding: 20px 30px;
        justify-content: flex-start;
        transition: 0.4s ease-in-out;
    }

    nav a {
        height: auto;
        box-sizing: border-box;
        width: 100%;
        justify-content: flex-start;
    }

    .close-sidebar-btn, .open-sidebar-btn {
        display: block;
        padding: 20px;
    }

    #sidebar-active:checked ~ .sidebar-links {
        right: 0;
    }

    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

/* Headings Styling */
h1 {
    font-family: "Archivo Black", sans-serif;
    font-size: xx-large;
    margin-bottom: 0;
    margin-top: 2vh;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    margin: 5px 0;
}
/* About Section Styling */
#about {
    max-width: 45vw;
}

#aboutSum {
    display: flex;
}

.active {
    color: var(--gdg-purple);
    font-weight: 500;
}

/* Paragraph Styling */
p {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

/* Link Styling */
.collapsible-content a {
    margin: 5px 0;
    display: block;
}

/* Members Section Styling */
.members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3vh;
    margin-top: 3vh;
}

/* Image Styling */
#eboard-img {
    width: 100%;
}

#jam-img {
    width: 45%;
}

/* Card Styling */
.card {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    border: hidden;
    box-shadow: 1px 1px 5px grey;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Footer Styling */
footer {
    margin-top: 3vh;
    text-align: center;
}

/* IFrame Styling*/
iframe{
    margin-bottom: 20px;
}
/* Additional media query placeholder */
/* @media screen and (max-width: 600px){
    
} */
