/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@100..900&display=swap');

/* Remove extra default spacing */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Color Scheme */
:root{
    --gdg-green: darkseagreen;
    --gdg-purple: blueviolet;
}

body{
    display: flex;
    flex-direction: column;
    margin: clamp(3vh, 20%, 10vh) clamp(10vw, 15% ,20vw);
    font-size: 14pt;
    font-family: "Inter", sans-serif;
}

h2{
    margin-bottom: 10px;
    padding: 15px 15px 0;
    color: blue;
}

nav{
    display: flex;
    gap: 1.5em;
    font-size: 1.5em;
    align-items: center;
}

.sidebar-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 20px;
}

section{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    justify-content: center;
}

.collapsible{
    max-width: 450px;
    overflow: hidden;
    font-weight: 500;
}

.collapsible label{
    position: relative;
    font-weight: 600;
    background: var(--gdg-green);
    z-index: 1;
    color: var(--gdg-purple);
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px 0;
    border-radius: 4px;
}

.collapsible label:after{
    content: "bro";
    position: absolute;
    right: 15px;
    top: 20px;
    width: 18px;
    height: 18px;
    background: url(arrow.svg) no-repeat 0 0;
    transition: all 0.3s ease;
}

.collapsible-text{
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
}

.collapsible input{
    display: none;
}

.collapsible input:checked + label:after{
    transform: rotate(90deg);
}

.collapsible input:checked ~ .collapsible-text{
    max-height: 300px;
    padding-bottom: 25px;
    background-color: aquamarine;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.1), 0 4px 11px 0 rgba(0,0,0,0.08);
    opacity: 1;
    top: 0;
}

#sidebar-active, .close-sidebar-btn, .open-sidebar-btn{
    display: none;
}

@media(max-width: 740px) {
    .sidebar-links{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        height: 100%;
        background-color: var(--gdg-green);
        box-shadow: -5px 0 5px rgba(0,0,0,0.25);
        padding: 20px 30px;
        justify-content: flex-start;
        transition: 0.4s ease-in-out;
    }

    nav a{
        height: auto;
        box-sizing: border-box;
        width: 100%;
        justify-content: flex-start;
    }

    .close-sidebar-btn, .open-sidebar-btn{
        display: block;
        padding: 20px;
    }

    #sidebar-active:checked ~ .sidebar-links{
        right: 0;
    }

    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

nav svg{
    fill: var(--gdg-purple);
}

#header-img{
    height: 1.5em;
    margin-right: auto;
}

nav a{
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  text-decoration: none;
}

nav a:hover{
    display: inline flex; 
    transform: scale(1.2);
    color: var(--gdg-green);
}

h1{
    font-family: "Archivo Black", sans-serif;
    font-size: xx-large;
    margin-bottom: 0;
    margin-top: 2vh;
}

#about{
    max-width: 45vw;
}

#aboutSum{
    display: flex;
}

.active{
    color: var(--gdg-purple);
    font-weight: 500;
}

p{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.members{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3vh;
    margin-top: 3vh;
}

#eboard-img{
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    border: hidden;
    box-shadow: 1px 1px 5px grey;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

footer{
    margin-top: 3vh;
    text-align: center;
}
/*@media screen and (max-width: 600px){
    
}