@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --gdg-green: darkseagreen;
    --gdg-purple: blueviolet;
}

body{
    display: flex;
    flex-direction: column;
    margin: 4vh 10vh;
    font-size: 14pt;
    font-family: "Inter", sans-serif;
}

nav{
    display: flex;
    gap: 1.5em;
    font-size: 1.5em;
    align-items: center;
}

.sidebar-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 20px;
}


#sidebar-active, .close-sidebar-btn, .open-sidebar-btn{
    display: none;
}

@media(max-width: 740px) {
    .sidebar-links{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        height: 100%;
        background-color: var(--gdg-green);
        box-shadow: -5px 0 5px rgba(0,0,0,0.25);
        padding: 20px 30px;
        justify-content: flex-start;
        transition: 0.4s ease-in-out;
    }

    nav a{
        height: auto;
        box-sizing: border-box;
        width: 100%;
        justify-content: flex-start;
    }

    .close-sidebar-btn, .open-sidebar-btn{
        display: block;
        padding: 20px;
    }

    #sidebar-active:checked ~ .sidebar-links{
        right: 0;
    }

    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

nav svg{
    fill: var(--gdg-purple);
}

#header-img{
    height: 1.5em;
    margin-right: auto;
}

nav a{
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  text-decoration: none;
}

nav a:hover{
    display: inline flex; 
    transform: scale(1.2);
    color: var(--gdg-green);
}

h1{
    font-family: "Archivo Black", sans-serif;
    font-size: xx-large;
    margin-bottom: 0;
    margin-top: 2vh;
}

#about{
    max-width: 45vw;
}

.active{
    color: var(--gdg-purple);
    font-weight: 500;
}

p{
    margin-top: 0.5vh;
    margin-bottom: 0;
}

.members{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3vh;
    margin-top: 2vh;
}

#eboard-img{
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    border: hidden;
    box-shadow: 1px 1px 5px grey;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/*@media screen and (max-width: 600px){
    
}